/* MAPS */
/* EXTEND */
.listafooter {
  display: flex;
  justify-content: space-between;
  list-style: none; }

/* MIXING */
body {
  background: linear-gradient(0deg, #9f7c5b 0%, #d4a274 100%); }

.logo__form {
  width: 450px; }

.formulario {
  margin: 10px; }

.email {
  margin: 10px; }

.nombre {
  margin: 10px; }

.mensaje {
  margin: 10px; }

@media only screen and (max-width: 994px) {
  .logo__form {
    width: 0px; } }

.header {
  background-image: url("../imagenes/fondo.jpg"); }

.logo-contacto {
  width: 150px; }

h1 {
  font-family: font-family Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 10px; }

.nav-link {
  font-size: 20px; }

.container-fluid a {
  font-style: italic; }

.container-fluid li {
  transition: transform 0.8s; }

.container-fluid li:hover {
  transform: scale(1.1); }

.logo {
  width: 150px; }

.futer {
  display: flex;
  height: 100px;
  opacity: 75%;
  background-image: url("../imagenes/fondo.jpg"); }

.listafooter {
  text-decoration: none;
  width: 60%;
  margin: auto; }

.listafooter a {
  color: black; }

section {
  height: 500px; }

.nav-link {
  font-size: 20px; }

.carousel-item {
  height: 300px; }

.carousel-item img {
  object-fit: cover; }

.table th, tr {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center; }

.container-fluid a {
  font-style: italic; }
