.header{
    background-image: url("./imagenes/fondo.jpg");
}

h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
}

.logo{
    width: 150px;
}
section{
    height: 500px;
}
.nav-link{
    font-size: 20px;
}
.carousel-item{
    height: 300px;
}
.carousel-item img{
    object-fit: cover;
}

.table th, tr{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
} 

.container-fluid a{
    font-style: italic;
}

.container-fluid li{
    transition: transform 0.8s;
}
.container-fluid li:hover{
    transform: scale(1.1);
}

body{
    /*    background-color: rgb(212, 162, 116); */
    background: rgb(159,124,91);
    background: linear-gradient(0deg, rgba(159,124,91,1) 0%, rgba(212,162,116,1) 100%);

}

.futer{
    background-image: url("./imagenes/fondo.jpg");
    height: 100px;
    opacity: 75%;
    display: flex;
}

.listafooter{
    list-style: none;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    width: 60%;
    margin: auto;
}

.listafooter a{
    color: black;
}

.formulario{
    margin: 10px;
}

.email{
    margin: 10px;
}
.nombre{
    margin: 10px;
}
.mensaje{
    margin: 10px;
}
.logo__form{
    width: 450px;
}

@media only screen and (max-width: 994px) {
    .logo__form{
        width: 0px;
    }

}