
.futer{
    @include footer(100px, 75%);
    background-image: url("../imagenes/fondo.jpg");
}

.listafooter{
    @extend %nombre;
    text-decoration: none;
    width: 60%;
    margin: auto;
}

.listafooter a{
    color: map-get($colores, color-footer);
}

