section{
    height: 500px;
}
.nav-link{
    font-size: 20px;
}
.carousel-item{
    height: 300px;
}
.carousel-item img{
    object-fit: cover;
}

.table th, tr{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
} 

.container-fluid a{
    font-style: italic;
}

@media only screen and (max-width: 768px) {
    .container{
        height: 700px;
    }
}