.receta-1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .imagen-receta1 { grid-area: 1 / 2 / 5 / 3; }
    .titulo-receta1 { grid-area: 1 / 3 / 2 / 5; }
    .descripcion-receta1 { grid-area: 2 / 3 / 4 / 5; }
    .link-a-receta1 { grid-area: 4 / 3 / 5 / 5; }

    .receta-2 {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .imagen-receta2 { grid-area: 1 / 2 / 5 / 3; }
        .titulo-receta2 { grid-area: 1 / 3 / 2 / 5; }
        .descripcion-receta2 { grid-area: 2 / 3 / 4 / 5; }
        .link-a-receta2 { grid-area: 4 / 3 / 5 / 5; }

        .receta-3 {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            }
            
            .imagen-receta3 { grid-area: 1 / 2 / 5 / 3; }
            .titulo-receta3 { grid-area: 1 / 3 / 2 / 5; }
            .descripcion-receta3 { grid-area: 2 / 3 / 4 / 5; }
            .link-a-receta { grid-area: 4 / 3 / 5 / 5; }
    
    /* Imagenes Receta1*/
.logo-receta1{
    height: 300px;
}
.receta-1{
    background-color: rgb(165, 136, 110);
}
.imagen-receta1{
    padding-top: 40px;
}
.titulo-receta1{
    padding-left: 20px;
    padding-top: 20px;
}
.descripcion-receta1{
    padding-left: 20px;
    padding-top: 20px; 
}
.link-a-receta{
    padding-left: 20px;
    padding-top: 10px;
}
/* Imagenes Receta2*/
.imagen-receta2{
    padding-top: 40px;
}
.titulo-receta2{
    padding-left: 20px;
    padding-top: 20px;
}
.descripcion-receta2{
    padding-left: 20px;
    padding-top: 20px; 
}
.link-a-receta{
    padding-left: 20px;
    padding-top: 10px;
}
/* Imagenes Receta2*/
.receta-3{
    background-color: rgb(165, 136, 110);
}
.imagen-receta3{
    padding-top: 40px;
}
.titulo-receta3{
    padding-left: 20px;
    padding-top: 20px;
}
.descripcion-receta3{
    padding-left: 20px;
    padding-top: 20px; 
}
.link-a-receta{
    padding-left: 20px;
    padding-top: 10px;
}
    /* Titulos */
.titulo-receta1{
    display: block;
}

.grilla-de-recetas{
    height: 1500px;
}
.link-a-receta{
    font-size: 20px;
}

@media only screen and (max-width: 680px) {
    .logo-receta1{
        height: 0px;
    }
    .grilla-de-recetas{
        height: 1800px;
    }
}